<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.bitman.member.mapper.MemberMapper">
    <select id="findAll" resultType="com.bitman.member.dto.Member">
        SELECT * FROM member;
    </select>
    <select id="login" resultType="com.bitman.member.dto.Member">
        SELECT * FROM member where mail=#{mail} and password=#{password};
    </select>
    <select id="mailCheck" parameterType="String" resultType="int">
    	SELECT count(*) FROM member WHERE mail = #{mail};
    </select>
    <insert id="join">
    	INSERT INTO member(name, mail, password, second_password, wallet_address, join_date, keep_KRW)
 		VALUES(#{name}, #{mail}, #{password}, #{second_password}, #{wallet_address}, now(), #{keep_KRW});
    </insert>
</mapper>
